#container {
    width:900px;
    margin:0 auto;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    background-color: coral;
}

/* ヘッダー部分 */
#header {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px blue solid;
}

#header_title {
    text-align: center;
}

#header_user {
    text-align: right;
}

/* ナビ部分 */
#nav {
    background-color:pink;
    width:190px;
    float:left;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    list-style-type: none;
    padding: 10px;
    background-color: #ccccff;
}

/* メイン部分 */
#main {
    float: right;
    width: 700px;
}
#main_title {
    border-bottom: 2px solid blue;
    border-left: 6px solid blue;
    padding: 10px 0 0 8px;
    margin-bottom: 10px;
}

/* メイン表部分 */
#main table , #main td , #main th {
    border: 1px solid blue;
}

/* フッター部分 */
#footer {
    background-color: #ccccff;
    clear:both;
    text-align: center;
    padding: 5px;
}

.center_elements {
    text-align: center;
}

.right_elements {
    text-align: right;
}